<section style="height: 100%; width: 100%; position: absolute;">
  <md-sidenav-container fxFlex>
    <md-sidenav #sidenav mode="side" [opened]="layout.media.isActive('gt-sm')" class="mat-elevation-z4" fxLayout="column" style="z-index: 1">
      <md-toolbar>
        <img src="/assets/img/sydbank_logo.png" alt="Jyske Bank" height="35px">
      </md-toolbar>
      <md-divider></md-divider>
      <section fxFlex style="overflow: auto;">
        <md-nav-list>
          <h3 md-subheader>General</h3>
          <md-list-item *ngFor="let link of links">
            <md-icon md-list-icon>{{link.icon}}</md-icon>
              <a md-line routerLink="/{{link.url}}">{{ link.label }}</a>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Settings</h3>
          <md-list-item *ngFor="let link of settings">
            <md-icon md-list-icon>{{link.icon}}</md-icon>
              <a md-line href="#/{{link.url}}">{{ link.label }}</a>
            </md-list-item>
            <md-divider></md-divider>
        </md-nav-list>  
      </section>
    </md-sidenav>
    <section fxFlex fxLayout="column">
      <md-toolbar  style="z-index: 2" color="primary" class="mat-elevation-z4">
        <button md-icon-button>
          <md-icon>menu</md-icon>
        </button>
        <span fxFlex></span>
        <button md-icon-button>
          <md-icon>more_vert</md-icon>
        </button>
      </md-toolbar>
      <section fxFlex style="overflow: auto;">
        <router-outlet></router-outlet>
      </section>
    </section>
  </md-sidenav-container>

</section>